<div class="contact">
    <p>
      {% if site.dev %}
      <span><a href="{{ site.dev }}" target="_blank"><i class="fab fa-dev"></i></a></span>
      {% endif %}
      {% if site.github %}
      <span><a href="{{ site.github }}" target="_blank"><i class="fab fa-github"></i></a></span>
      {% endif %}
      {% if site.linkedin %}
      <span><a href="{{ site.linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i></a></span>
      {% endif %}
      {% if site.instagram %}
      <span><a href="{{ site.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a></span>
      {% endif %}
    </p>
  </div>
